<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Libraries" %>

  <div class="md:w-9/12 w-full mx-auto flex">
    <section class="container px-4 mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div>
          <div class="flex items-center gap-x-3">
            <%= image_tag asset_path("board-games.png"), size: "32x32" %>
            <h1 class="text-2xl font-medium text-gray-800"><%= t("app.title") %></h1>
            <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full"><%= Game.num_records %></span>
          </div>
        </div>
      </div>

      <div class="mt-6 md:flex md:items-center md:justify-between">
        <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg rtl:flex-row-reverse">
          <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 bg-gray-100 sm:text-sm"><%= t("home.tabs.all") %></button>
          <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm hover:bg-gray-100"><%= t("home.tabs.two_players") %></button>
          <button class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm hover:bg-gray-100"><%= t("home.tabs.under_30") %></button>
        </div>

        <div class="relative flex items-center mt-4 md:mt-0">
          <span class="absolute">
            <span class="w-5 h-5 mx-3 text-gray-400 opacity-50">🔍</span>
          </span>
          <form>
            <input type="text" name="search" value="<%= params[:search] %>" placeholder="<%= t("home.search") %>" class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
          </form>
        </div>
      </div>

      <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
            <div class="overflow-hidden border border-gray-200 md:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                    </th>

                    <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"><%= t("home.table.title") %></th>
                    <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"><%= t("home.table.play_time") %></th>
                    <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500"><%= t("home.table.play_count") %></th>
                  </tr>
                </thead>

                <tbody class="bg-white divide-y divide-gray-200">
                  <% @games.each do |game| %>
                    <tr class="hover:bg-gray-50 cursor-pointer" data-controller="games" data-action="click->games#show" data-games-id="<%= game.id %>">
                      <td class="pl-4 py-4 text-sm whitespace-nowrap">
                        🦖
                      </td>

                      <td class="px-4 py-4 text-sm whitespace-nowrap">
                        <div>
                          <h2 class="font-medium text-gray-800"><%= game.name %></h2>
                          <p class="font-normal text-gray-600"><%= game.designer.name %></p>
                        </div>
                      </td>
                      <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                        <% if game.short? %>
                          <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60">
                            <%= game.game_length_in_minutes %>
                          </div>
                        <% elsif game.medium? %>
                          <div class="inline px-3 py-1 text-sm font-normal rounded-full text-yellow-500 gap-x-2 bg-yellow-100/60">
                            <%= game.game_length_in_minutes %>
                          </div>
                        <% else %>
                          <div class="inline px-3 py-1 text-sm font-normal rounded-full text-red-500 gap-x-2 bg-red-100/60">
                            <%= game.game_length_in_minutes %>
                          </div>
                        <% end %>
                      </td>
                      <td class="px-4 py-4 text-sm whitespace-nowrap">
                        <div>
                          <h4 class="text-gray-700"><%= game.number_of_players %></h4>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 sm:flex sm:items-center sm:justify-between">
        <%== pagy_info(@pagy) %>
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </section>
  </div>

  <dialog>
    <div class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-10">
      <div id="gameModal" class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-xl bg-white">
        <div class="px-6 pt-6 pb-4 bg-gray-100 border-b border-gray-200">
          <h1 class="text-2xl text-gray-800 font-medium" data-name></h1>
          <h2 class="text-gray-600 hover:text-gray-700 active:text-gray-800 font-normal"><a class="focus:outline-none" href="#" target="_blank" data-designer></a>↗</h2>
        </div>

        <div class="p-6 text-sm font-medium text-gray-800">
          <p><%= t("home.table.play_time") %>: <span class="font-normal text-gray-600" data-length></span></p>
          <p><%= t("home.table.play_count") %>: <span class="font-normal text-gray-600" data-players></span></p>
        </div>

        <form class="m-12 mt-6">
          <button type="submit" class="w-full h-12 px-5 text-white active:text-gray-100 capitalize transition-colors duration-200 rounded-md bg-blue-600 hover:bg-blue-700 active:bg-blue-800 focus:shadow-outline">
            <span><%= t("modal.close") %></span>
          </button>
        </form>
      </div>
    </div>
  </dialog>
</div>
