<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Libraries" %>

  <div class="md:w-9/12 w-full mx-auto flex">
    <section class="container px-4 mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div>
          <div class="flex items-center gap-x-3">
            <%= image_tag asset_path("board-games.png"), size: "32x32" %>
            <h1 class="text-2xl font-medium text-gray-800"><%= link_to t("app.title"), root_path %></h1>
            <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full"><%= Game.num_records %></span>
          </div>
        </div>
      </div>

      <div class="mt-6 md:flex md:items-center md:justify-between">
        <%= form_with url: root_path, method: :get, data: { controller: "filter", turbo_frame: "games", turbo_action: "advance", filter_page_title: t("app.title"), filter_filter_title: t("app.filter_title") } do |form| %>
          <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg">
            <button class="button-filter-sorted px-5 py-2 text-xs font-medium transition-colors duration-200 sm:text-sm <%= filter_nav_classes("sorted", @filter, @search) %>" data-action="click->filter#change" data-filter="sorted"><%= t("home.tabs.sorted") %></button>
            <button class="button-filter-versus px-5 py-2 text-xs font-medium transition-colors duration-200 sm:text-sm <%= filter_nav_classes("versus", @filter, @search) %>" data-action="click->filter#change" data-filter="versus"><%= t("home.tabs.versus") %></button>
            <button class="button-filter-speedy px-5 py-2 text-xs font-medium transition-colors duration-200 sm:text-sm <%= filter_nav_classes("speedy", @filter, @search) %>" data-action="click->filter#change" data-filter="speedy"><%= t("home.tabs.speedy") %></button>
          </div>
          <%= form.hidden_field :filter, value: "sorted" %>
        <% end %>

        <div class="relative flex items-center mt-4 md:mt-0">
          <span class="absolute">
            <span class="w-5 h-5 mx-3 text-gray-400 opacity-50">🔍</span>
          </span>
          <%= form_with url: root_path, method: :get, data: { controller: "filter form-submission", action: "form-submission:reset->filter#deselect", turbo_frame: "games", turbo_action: "advance", form_submission_page_title: t("app.title"), form_submission_search_title: t("app.search_title") } do |form| %>
            <input type="text" name="search" value="<%= params[:search] %>" placeholder="<%= t("home.search") %>" class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" data-action="input->form-submission#search" />
          <% end %>
        </div>
      </div>

      <%= render "games/games", games: @games %>
    </section>
  </div>

  <%= render "modal" %>
</div>
